@model CampussAvanzadaa.Model.CarrerasViewModel.EditarViewModel

@{
    //ViewBag.Title = Model.Title;
}


<header>

    <nav class="navbar navbar-toggleable-md navbar-inverse navbar-fixed-top bg-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="fa fa-user"></span> Carrera
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="Inicio.html">
                            <span class="fa fa-home"></span> Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Carrera
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="Carrera.html">Agregar</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">Editar</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="Eliminar_Carrera.html">Eliminar</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#Asistencia">Asistencia Tecnica</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>

<!-- Modal -->
<div class="modal fade" id="Asistencia" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pongase en contacto con nosotros</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Identificacion</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Corta Descripcion:</label>
                        <input type="textarea" name="" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="alert('Pronto nos pondremos en contacto con usted')">Enviar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<body class="body_registro">

    <section class="color_label_registro">


        <div class="container">
            <br />
            <br />
            <h3 class="titulos">Editar Carrera</h3>
            <hr>
        </div>
        <div id="wrapper" class="container">

            <form action="post">
                <fieldset>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <label class="control-label" asp-for="Carreras"></label>
                                <select asp-for="Carreras" class="form-control" name="carrera">

                                    @foreach (var item in Model.Carreras)
                                    {

                                        <option value="@item.IdCarrera">@item.NombreCarrera</option>
                                    }

                                </select>
                                <span asp-validation-for="Carreras"></span>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label" asp-for="Cursos"></label>

                                    <select class="form-control" name="carrera" id="SubCategory">

                                        @*@foreach (var item in Model.Cursos)
                                            {

                                                <option value="@item.IdCurso">@item.Descripcion</option>
                                            }*@

                                    </select>

                                    @*<input asp-for="Persona" class="form-control" type="text" disabled>*@



                                    <span asp-validation-for="Cursos"></span>

                                </div>
                            </div>

                        </div>
                    </div>



                </fieldset>

                <button type="submit" class="btn btn-dark btn-lg btn_registrar">Guardar <span class="fa fa-save" aria-hidden="true"></span></button>

            </form>

        </div>


    </section>

</body>

@*<script>
        $(document).ready(function () {

            $("#CategoryType").change(function () {
                $("#SubCategory").empty();
                $.ajax({
                    type: 'POST',

                    url: '@Url.Action("GetSubCategories")',
                    dataType: 'json',
                    data: { id: $("#CategoryType").val() },
                    success: function (subcategories) {

                        $.each(subcategories, function (i, subcategory) {

                            $("#SubCategory").append('<option value="'
                                + subcategory.Value + '">' +
                                subcategory.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Sub Categories : ' + ex);
                    }
                });
                return false;
            })
        });
    </script>*@