@model CampussAvanzadaa.Model.AsistenciaEstudianteViewModel.CrearViewModel
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    //ViewBag.Title = Model.Title;
}

<header>

    <nav class="navbar navbar-inverse bg-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="fa fa-bell"></span> Estudiante
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="Inicio.html">
                            <span class="fa fa-home"></span> Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Asistencia
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Asistencia</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">Editar</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#Asistencia">Asistencia Tecnica</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<!-- Modal -->
<div class="modal fade" id="Asistencia" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pongase en contacto con nosotros</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Identificacion</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Corta Descripcion:</label>
                        <input type="textarea" name="" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="alert('Pronto nos pondremos en contacto con usted')">Enviar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<body class="body_registro">

    <section class="color_label_registro">

        <div class="container">
            <h3 class="titulos">Asistencia Estudiante</h3>
            <hr>

        </div>

        <div class="container">
            <form id="form-work" class="" name="form-work" action="#">
                <fieldset>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label" asp-for="FechaAsistencia">Fecha </label>
                                <input type="date" asp-for="FechaAsistencia" name="fecha" class="form-control" required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label" asp-for="CursoSeleccionado">Curso:</label>
                                <select class="form-control" asp-for="CursoSeleccionado">

                                    @foreach (var item in Model.Cursos)
        {

                                    <option value="@item.IdCurso">@item.Descripcion</option>
}

                                </select>
                                <span asp-validation-for="Cursos"></span>


                                @*<select required class="form-control">
            <option selected value="">Seleccione</option>
            <option value="curso1">1</option>
            <option value="curso2">2</option>
            <option value="curso3">3</option>
            <option value="curso4">4</option>
        </select>*@
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label" asp-for="Grupos">Grupo:</label>
                                <select class="form-control" asp-for="GrupoSeleccionado">

                                    @foreach (var item in Model.Grupos)
        {

                            <option value="@item.IdGrupo">@item.IdGrupo</option>
}

                                </select>
                                <span asp-validation-for="Grupos"></span>

                                @*<select required class="form-control">
            <option value="" selected>Seleccione</option>
            <option value="grupo1">1</option>
            <option value="grupo2">2</option>
            <option value="grupo3">3</option>
            <option value="grupo4">4</option>
        </select>*@
                            </div>
                        </div>
                        <br />
                    </div>


                    <table class="table">

                        <!--Table head-->
                        <thead class="thead-inverse">
                            <tr class="text-white">
                                <th>#</th>
                                <th>Primer Nombre</th>
                                <th>Segundo Nombre </th>
                                <th>Carne</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            @*<tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>20180001</td>
                                <td>

                                    <select class="color_select" required>
                                        <option selected value="">Seleccione</option>
                                        <option value="Presente">Presente</option>
                                        <option value="Tarde">Tarde</option>
                                        <option value="Ausente">Ausente</option>
                                        <option value="Ausencia Justificada">Ausencia Justificada</option>
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>

                                    <select required class="color_select">
                                        <option selected value="">Seleccione</option>
                                        <option value="Presente">Presente</option>
                                        <option value="Tarde">Tarde</option>
                                        <option value="Ausente">Ausente</option>
                                        <option value="Ausencia Justificada">Ausencia Justificada</option>

                                    </select>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>

                                    <select required class="color_select">
                                        <option selected value="0" selected>Seleccione</option>
                                        <option value="Presente">Presente</option>
                                        <option value="Tarde">Tarde</option>
                                        <option value="Ausente">Ausente</option>
                                        <option value="Ausencia Justificada">Ausencia Justificada</option>

                                    </select>
                            </tr>*@

                        </tbody>
                        <!--Table body-->

                    </table>

                </fieldset>
                <button type="submit" class="btn btn-dark btn-lg btn_registrar" onclick="ValidarAsistencia()">Guardar</button>

            </form>
        </div>

    </section>

</body>

